input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

input[type=email], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
}

input[type=submit] {
      width: 100%;
      background-color: #000d74;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

input[type=button] {
    width:30px;
    height:28px;
}

#num {
    width:64px;
    height:25px;
    text-align:center;
}

#num1 {
    width:64px;
    height:25px;
    text-align:center;
}


input[type=submit]:hover {
      background-color: #62A8E5;
}


input[type=text]:focus {
      background-color: #C4D8E2;
}

input[type=email]:focus {
    background-color: #C4D8E2;
}

.info{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
}

.table{
      display: table;
      border-collapse: collapse;
      border-radius: 5px;
      background-color: white;
      padding: 20px;
      width: 100%;
      height: 200px;
}

.tr{
    display: table-row;
    height: 200px;
    width: auto;
}

.td{
    display: table-cell;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
}

.table .td img{
    display: block;
    height: auto;
    max-width: 100%;
}