<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Roommate & Apartment Finding</title>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/button.js"></script>
    <link rel="stylesheet" href="../static/css/postPatt.css">
</head>
<body>

<div class='table'>
    <div class='tr'>
        <div class='td'><img src="../static/picture/columbia_university.jpg"></div>
        <div class='td'><h1>Roommate & Apartment Finding</h1></div>
        <div class='td'><img src="../static/picture/Columbia.jpg"></div>
    </div>
</div>

<!--<form action="/search-post/" method="post">-->
<form action="/results/" method="post">
    <h2>Personal Information</h2>
    {% csrf_token %}
    <div class="info">
    First Name <input type="text" name="First Name">
    <br/><br/>
    </div>

    <div class="info">
    Last Name <input type="text" name="Last Name">
    <br/><br/>
    </div>


    <div class="info">
    Uni <input type="text" name="Uni">
    <br/><br/>
    </div>

    <div class="info">
        Age <input type="text" name="Age">
        <br/><br/>
    </div>

    <div class="info">
    Gender <input type="radio" name="Gender" value="Male" /> Male
    <input type="radio" name="Gender" value="Female" /> Female
    <br/><br/>
    </div>

    <div class="info">
        Habit <input type="radio" name="Habit" value="0" /> Habit0
        <input type="radio" name="Habit" value="1" /> Habit1
        <br/><br/>
    </div>

    <div class="info">
    Nationality
    <select name="Nationality">
        <option value = 'Afghanistan'>Afghanistan</option>
        <option value = 'Albania'>Albania</option>
        <option value = 'Algeria'>Algeria</option>
        <option value = 'American Samoa'>American Samoa</option>
        <option value = 'Andorra'>Andorra</option>
        <option value = 'Angola'>Angola</option>
        <option value = 'Anguilla'>Anguilla</option>
        <option value = 'Antarctica'>Antarctica</option>
        <option value = 'Antigua and Barbuda'>Antigua and Barbuda</option>
        <option value = 'Argentina'>Argentina</option>
        <option value = 'Armenia'>Armenia</option>
        <option value = 'Aruba'>Aruba</option>
        <option value = 'Australia'>Australia</option>
        <option value = 'Austria'>Austria</option>
        <option value = 'Azerbaijan'>Azerbaijan</option>
        <option value = 'Bahamas'>Bahamas</option>
        <option value = 'Bahrain'>Bahrain</option>
        <option value = 'Bangladesh'>Bangladesh</option>
        <option value = 'Barbados'>Barbados</option>
        <option value = 'Belarus'>Belarus</option>
        <option value = 'Belgium'>Belgium</option>
        <option value = 'Belize'>Belize</option>
        <option value = 'Benin'>Benin</option>
        <option value = 'Bermuda'>Bermuda</option>
        <option value = 'Bhutan'>Bhutan</option>
        <option value = 'Bolivia'>Bolivia</option>
        <option value = 'Bosnia and Herzegovina'>Bosnia and Herzegovina</option>
        <option value = 'Botswana'>Botswana</option>
        <option value = 'Brazil'>Brazil</option>
        <option value = 'British Indian Ocean Territory'>British Indian Ocean Territory</option>
        <option value = 'British Virgin Islands'>British Virgin Islands</option>
        <option value = 'Brunei'>Brunei</option>
        <option value = 'Bulgaria'>Bulgaria</option>
        <option value = 'Burkina Faso'>Burkina Faso</option>
        <option value = 'Burma'>Burma</option>
        <option value = 'Burundi'>Burundi</option>
        <option value = 'Cambodia'>Cambodia</option>
        <option value = 'Cameroon'>Cameroon</option>
        <option value = 'Canada'>Canada</option>
        <option value = 'Cape Verde'>Cape Verde</option>
        <option value = 'Cayman Islands'>Cayman Islands</option>
        <option value = 'Central African Republic'>Central African Republic</option>
        <option value = 'Chad'>Chad</option>
        <option value = 'Chile'>Chile</option>
        <option value = 'China'>China</option>
        <option value = 'Christmas Island'>Christmas Island</option>
        <option value = 'Clipperton Island'>Clipperton Island</option>
        <option value = 'Colombia'>Colombia</option>
        <option value = 'Comoros'>Comoros</option>
        <option value = 'Congo'>Congo</option>
        <option value = 'Cook Islands'>Cook Islands</option>
        <option value = 'Coral Sea Islands'>Coral Sea Islands</option>
        <option value = 'Costa Rica'>Costa Rica</option>
        <option value = 'Croatia'>Croatia</option>
        <option value = 'Cuba'>Cuba</option>
        <option value = 'Cyprus'>Cyprus</option>
        <option value = 'Czech Republic'>Czech Republic</option>
        <option value = 'Denmark'>Denmark</option>
        <option value = 'Djibouti'>Djibouti</option>
        <option value = 'Dominica'>Dominica</option>
        <option value = 'Dominican Republic'>Dominican Republic</option>
        <option value = 'Ecuador'>Ecuador</option>
        <option value = 'Egypt'>Egypt</option>
        <option value = 'El Salvador'>El Salvador</option>
        <option value = 'Equatorial Guinea'>Equatorial Guinea</option>
        <option value = 'Eritrea'>Eritrea</option>
        <option value = 'Estonia'>Estonia</option>
        <option value = 'Ethiopia'>Ethiopia</option>
        <option value = 'Europa Island'>Europa Island</option>
        <option value = 'Falkland Islands'>Falkland Islands</option>
        <option value = 'Faroe Islands'>Faroe Islands</option>
        <option value = 'Fiji'>Fiji</option>
        <option value = 'Finland'>Finland</option>
        <option value = 'France'>France</option>
        <option value = 'French Guiana'>French Guiana</option>
        <option value = 'French Polynesia'>French Polynesia</option>
        <option value = 'Gabon'>Gabon</option>
        <option value = 'Gambia'>Gambia</option>
        <option value = 'Georgia'>Georgia</option>
        <option value = 'Germany'>Germany</option>
        <option value = 'Ghana'>Ghana</option>
        <option value = 'Gibraltar'>Gibraltar</option>
        <option value = 'Glorioso Islands'>Glorioso Islands</option>
        <option value = 'Greece'>Greece</option>
        <option value = 'Greenland'>Greenland</option>
        <option value = 'Grenada'>Grenada</option>
        <option value = 'Guadeloupe'>Guadeloupe</option>
        <option value = 'Guam'>Guam</option>
        <option value = 'Guatemala'>Guatemala</option>
        <option value = 'Guernsey'>Guernsey</option>
        <option value = 'Guinea'>Guinea</option>
        <option value = 'Guinea-Bissau'>Guinea-Bissau</option>
        <option value = 'Guyana'>Guyana</option>
        <option value = 'Haiti'>Haiti</option>
        <option value = 'Holy See (Vatican City)'>Holy See (Vatican City)</option>
        <option value = 'Honduras'>Honduras</option>
        <option value = 'Hungary'>Hungary</option>
        <option value = 'Iceland'>Iceland</option>
        <option value = 'India'>India</option>
        <option value = 'Indonesia'>Indonesia</option>
        <option value = 'Iran'>Iran</option>
        <option value = 'Iraq'>Iraq</option>
        <option value = 'Ireland'>Ireland</option>
        <option value = 'Isle of Man'>Isle of Man</option>
        <option value = 'Israel'>Israel</option>
        <option value = 'Italy'>Italy</option>
        <option value = 'Jamaica'>Jamaica</option>
        <option value = 'Jan Mayen'>Jan Mayen</option>
        <option value = 'Japan'>Japan</option>
        <option value = 'Jersey'>Jersey</option>
        <option value = 'Jordan'>Jordan</option>
        <option value = 'Juan de Nova Island'>Juan de Nova Island</option>
        <option value = 'Kazakhstan'>Kazakhstan</option>
        <option value = 'Kenya'>Kenya</option>
        <option value = 'Kiribati'>Kiribati</option>
        <option value = 'Kuwait'>Kuwait</option>
        <option value = 'Kyrgyzstan'>Kyrgyzstan</option>
        <option value = 'Laos'>Laos</option>
        <option value = 'Latvia'>Latvia</option>
        <option value = 'Lebanon'>Lebanon</option>
        <option value = 'Lesotho'>Lesotho</option>
        <option value = 'Liberia'>Liberia</option>
        <option value = 'Libya'>Libya</option>
        <option value = 'Liechtenstein'>Liechtenstein</option>
        <option value = 'Lithuania'>Lithuania</option>
        <option value = 'Luxembourg'>Luxembourg</option>
        <option value = 'Macedonia'>Macedonia</option>
        <option value = 'Madagascar'>Madagascar</option>
        <option value = 'Malawi'>Malawi</option>
        <option value = 'Malaysia'>Malaysia</option>
        <option value = 'Maldives'>Maldives</option>
        <option value = 'Mali'>Mali</option>
        <option value = 'Malta'>Malta</option>
        <option value = 'Marshall Islands'>Marshall Islands</option>
        <option value = 'Martinique'>Martinique</option>
        <option value = 'Mauritania'>Mauritania</option>
        <option value = 'Mauritius'>Mauritius</option>
        <option value = 'Mayotte'>Mayotte</option>
        <option value = 'Mexico'>Mexico</option>
        <option value = 'Micronesia'>Micronesia</option>
        <option value = 'Moldova'>Moldova</option>
        <option value = 'Monaco'>Monaco</option>
        <option value = 'Mongolia'>Mongolia</option>
        <option value = 'Montserrat'>Montserrat</option>
        <option value = 'Morocco'>Morocco</option>
        <option value = 'Mozambique'>Mozambique</option>
        <option value = 'Namibia'>Namibia</option>
        <option value = 'Nauru'>Nauru</option>
        <option value = 'Navassa Island'>Navassa Island</option>
        <option value = 'Nepal'>Nepal</option>
        <option value = 'Netherlands'>Netherlands</option>
        <option value = 'Netherlands Antilles'>Netherlands Antilles</option>
        <option value = 'New Caledonia'>New Caledonia</option>
        <option value = 'New Zealand'>New Zealand</option>
        <option value = 'Nicaragua'>Nicaragua</option>
        <option value = 'Niger'>Niger</option>
        <option value = 'Nigeria'>Nigeria</option>
        <option value = 'Niue'>Niue</option>
        <option value = 'Norfolk Island'>Norfolk Island</option>
        <option value = 'North Korea'>North Korea</option>
        <option value = 'Northern Mariana Islands'>Northern Mariana Islands</option>
        <option value = 'Norway'>Norway</option>
        <option value = 'Oman'>Oman</option>
        <option value = 'Pakistan'>Pakistan</option>
        <option value = 'Palau'>Palau</option>
        <option value = 'Panama'>Panama</option>
        <option value = 'Papua New Guinea'>Papua New Guinea</option>
        <option value = 'Paracel Islands'>Paracel Islands</option>
        <option value = 'Paraguay'>Paraguay</option>
        <option value = 'Peru'>Peru</option>
        <option value = 'Philippines'>Philippines</option>
        <option value = 'Pitcairn Islands'>Pitcairn Islands</option>
        <option value = 'Poland'>Poland</option>
        <option value = 'Portugal'>Portugal</option>
        <option value = 'Puerto Rico'>Puerto Rico</option>
        <option value = 'Qatar'>Qatar</option>
        <option value = 'Reunion'>Reunion</option>
        <option value = 'Romania'>Romania</option>
        <option value = 'Russia'>Russia</option>
        <option value = 'Rwanda'>Rwanda</option>
        <option value = 'Saint Helena'>Saint Helena</option>
        <option value = 'Saint Kitts and Nevis'>Saint Kitts and Nevis</option>
        <option value = 'Saint Lucia'>Saint Lucia</option>
        <option value = 'Saint Pierre and Miquelon'>Saint Pierre and Miquelon</option>
        <option value = 'Saint Vincent and the Grenadines'>Saint Vincent and the Grenadines</option>
        <option value = 'Samoa'>Samoa</option>
        <option value = 'San Marino'>San Marino</option>
        <option value = 'Sao Tome and Principe'>Sao Tome and Principe</option>
        <option value = 'Saudi Arabia'>Saudi Arabia</option>
        <option value = 'Senegal'>Senegal</option>
        <option value = 'Serbia and Montenegro'>Serbia and Montenegro</option>
        <option value = 'Seychelles'>Seychelles</option>
        <option value = 'Sierra Leone'>Sierra Leone</option>
        <option value = 'Singapore'>Singapore</option>
        <option value = 'Slovakia'>Slovakia</option>
        <option value = 'Slovenia'>Slovenia</option>
        <option value = 'Solomon Islands'>Solomon Islands</option>
        <option value = 'Somalia'>Somalia</option>
        <option value = 'South Africa'>South Africa</option>
        <option value = 'South Korea'>South Korea</option>
        <option value = 'Spain'>Spain</option>
        <option value = 'Spratly Islands'>Spratly Islands</option>
        <option value = 'Sri Lanka'>Sri Lanka</option>
        <option value = 'Sudan'>Sudan</option>
        <option value = 'Suriname'>Suriname</option>
        <option value = 'Svalbard'>Svalbard</option>
        <option value = 'Swaziland'>Swaziland</option>
        <option value = 'Sweden'>Sweden</option>
        <option value = 'Switzerland'>Switzerland</option>
        <option value = 'Syria'>Syria</option>
        <option value = 'Tajikistan'>Tajikistan</option>
        <option value = 'Tanzania'>Tanzania</option>
        <option value = 'Thailand'>Thailand</option>
        <option value = 'Timor-Leste'>Timor-Leste</option>
        <option value = 'Togo'>Togo</option>
        <option value = 'Tokelau'>Tokelau</option>
        <option value = 'Tonga'>Tonga</option>
        <option value = 'Trinidad and Tobago'>Trinidad and Tobago</option>
        <option value = 'Tromelin Island'>Tromelin Island</option>
        <option value = 'Tunisia'>Tunisia</option>
        <option value = 'Turkey'>Turkey</option>
        <option value = 'Turkmenistan'>Turkmenistan</option>
        <option value = 'Turks and Caicos Islands'>Turks and Caicos Islands</option>
        <option value = 'Tuvalu'>Tuvalu</option>
        <option value = 'Uganda'>Uganda</option>
        <option value = 'Ukraine'>Ukraine</option>
        <option value = 'United Arab Emirates'>United Arab Emirates</option>
        <option value = 'United Kingdom'>United Kingdom</option>
        <option value = 'United States'>United States</option>
        <option value = 'Uruguay'>Uruguay</option>
        <option value = 'Uzbekistan'>Uzbekistan</option>
        <option value = 'Vanuatu'>Vanuatu</option>
        <option value = 'Venezuela'>Venezuela</option>
        <option value = 'Vietnam'>Vietnam</option>
        <option value = 'Virgin Islands'>Virgin Islands</option>
        <option value = 'Wake Island'>Wake Island</option>
        <option value = 'Wallis and Futuna'>Wallis and Futuna</option>
        <option value = 'Western Sahara'>Western Sahara</option>
        <option value = 'Yemen'>Yemen</option>
        <option value = 'Zambia'>Zambia</option>
        <option value = 'Zimbabwe'>Zimbabwe</option>
    </select>
    <br/><br/>
    </div>


    <div class="info">
    Email <input type="email" name="Email" />
    <br/><br/>
    </div>


    <div class="info">
    School
    <select name="School">
        <option value = 'BC'>Barnard College</option>
        <option value = 'GSAPP'>Graduate School of Architecture, Planning, & Preservation</option>
        <option value = 'GSAS'>Graduate School of Arts and Sciences</option>
        <option value = 'Arts'>School of the Arts</option>
        <option value = 'CBS'>Columbia Business School</option>
        <option value = 'CCS'>Columbia Climate School</option>
        <option value = 'CC'>Columbia College</option>
        <option value = 'CJS'>Columbia Journalism School</option>
        <option value = 'CLS'>Columbia Law School</option>
        <option value = 'Medicine'>College of Dental Medicine</option>
        <option value = 'SEAS'>Fu Foundation School of Engineering and Applied Science</option>
        <option value = 'SGS'>School of General Studies</option>
        <option value = 'SIPA'>School of International and Public Affairs</option>
        <option value = 'JTS'>Jewish Theological Seminary</option>
        <option value = 'Nursing'>School of Nursing</option>
        <option value = 'VCPS'>Vagelos College of Physicians and Surgeons</option>
        <option value = 'SPS'>School of Professional Studies</option>
        <option value = 'MSPH'>Mailman School of Public Health</option>
        <option value = 'SSW'>School of Social Work</option>
        <option value = 'TC'>Teachers College</option>
        <option value = 'UTS'>Union Theological Seminary</option>
    </select>
    <br/><br/>
    </div>


    <div class="info">
    Major
    <select name="Major">
        <option value = 'Creative Writing'>Creative Writing</option>
        <option value = 'Film & Media Studies'>Film & Media Studies</option>
        <option value = 'Visual Arts'>Visual Arts</option>
        <option value = 'Applied Physics & Applied Mathematics, with Materials Science and Engineering'>Applied Physics & Applied Mathematics, with Materials Science and Engineering</option>
        <option value = 'Biomedical Engineering'>Biomedical Engineering</option>
        <option value = 'Chemical Engineering'>Chemical Engineering</option>
        <option value = 'Civil Engineering'>Civil Engineering</option>
        <option value = 'Computer Science'>Computer Science</option>
        <option value = 'Earth & Environmental Engineering'>Earth & Environmental Engineering</option>
        <option value = 'Electrical Engineering'>Electrical Engineering</option>
        <option value = 'Industrial Engineering & Operations Research'>Industrial Engineering & Operations Research</option>
        <option value = 'Mechanical Engineering'>Mechanical Engineering</option>
        <option value = 'American Studies'>American Studies</option>
        <option value = 'Art History'>Art History</option>
        <option value = 'Comparative Literature & Society'>Comparative Literature & Society</option>
        <option value = 'East Asian Studies'>East Asian Studies</option>
        <option value = 'English'>English</option>
        <option value = 'French'>French</option>
        <option value = 'Middle Eastern, South Asian, African Studies'>Middle Eastern, South Asian, African Studies</option>
        <option value = 'Modern Languages'>Modern Languages</option>
        <option value = 'Music'>Music</option>
        <option value = 'Philosophy'>Philosophy</option>
        <option value = 'Biochemistry'>Biochemistry</option>
        <option value = 'Biology'>Biology</option>
        <option value = 'Chemistry'>Chemistry</option>
        <option value = 'Environmental Biology and Evolutionary Biology of the Human Species'>Environmental Biology and Evolutionary Biology of the Human Species</option>
        <option value = 'Mathematics'>Mathematics</option>
        <option value = 'Neuroscience & Behavior'>Neuroscience & Behavior</option>
        <option value = 'Physics'>Physics</option>
        <option value = 'Sustainable Development'>Sustainable Development</option>
        <option value = 'Anthropology'>Anthropology</option>
        <option value = 'Business Management'>Business Management</option>
        <option value = 'Economics'>Economics</option>
        <option value = 'History'>History</option>
        <option value = 'Human Rights'>Human Rights</option>
        <option value = 'Political Science'>Political Science</option>
        <option value = 'Psychology'>Psychology</option>
        <option value = 'Sociology'>Sociology</option>
        <option value = 'Other'>Other</option>
    </select>
    <br/><br/>
    </div>


    <div class="info">
    Smoking <input type="radio" name="Smoking" value="Yes" /> Yes
    <input type="radio" name="Smoking" value="No" /> No
    <br/><br/>
    </div>


    <div class="info">
    Alcohol <input type="radio" name="Alcohol" value="Yes" /> Yes
    <input type="radio" name="Alcohol" value="No" /> No
    <br/><br/>
    </div>

    <div class="info">
    Are you an early bird or a night owl?
    <input type="radio" name="Habit" value="Early Bird" /> Early Bird
    <input type="radio" name="Habit" value="Night Owl" /> Night Owl
    <br/><br/>
    </div>

    <div class="info">
        Are you okay with pets?
        <input type="radio" name="Pets" value="0" /> pets0
        <input type="radio" name="Pets" value="1" /> pets1
        <br/><br/>
    </div>


    <h2>Living Habit</h2>

    <div class="info">
    Do you want to live in a certain apartment?
    <input type="radio" name="Certain Apartment" value="Yes" id="certainYes"/> Yes
    <input type="radio" name="Certain Apartment" value="No"  id="certainNo"/> No
    <br/><br/>
    </div>


    <div id="Have a certain choice" style="display:none" class="info">
        Which apartment you prefer?
        <select name="Apartment">
            <option value = 'ART LOFT/HOME:  DINNERS, GATHERINGS, PHOTO'>ART LOFT/HOME:  DINNERS, GATHERINGS, PHOTO</option>
            <option value = 'Artist Loft.Good Energy.Big Space With Fire Place!'>Artist Loft.Good Energy.Big Space With Fire Place!</option>
            <option value = 'The Industrial LOFT #2 NoHo. - Great Location!'>The Industrial LOFT #2 NoHo. - Great Location!</option>
            <option value = 'Bright Designer NoHo/Greenwich Village Loft'>Bright Designer NoHo/Greenwich Village Loft</option>
            <option value = 'Entire Loft Apartment in Soho/NoHo/Nolita'>Entire Loft Apartment in Soho/NoHo/Nolita</option>
            <option value = 'NEW Luxury 1BR Oasis - Most Desirable NYC Location'>NEW Luxury 1BR Oasis - Most Desirable NYC Location</option>
            <option value = 'Home on Houston - 2 Rooms near SoHo/NoHo/LES'>Home on Houston - 2 Rooms near SoHo/NoHo/LES</option>
            <option value = 'Loft on the Bowery w/roofdeck'>Loft on the Bowery w/roofdeck</option>
            <option value = 'NoHo 2 Bedroom Loft'>NoHo 2 Bedroom Loft</option>
            <option value = 'Beautiful, SEXY apartment'>Beautiful, SEXY apartment</option>
            <option value = 'Dapper East Village 1BR w/ Gym, W/D, Doorman, near Subway, by Blueground'>Dapper East Village 1BR w/ Gym, W/D, Doorman, near Subway, by Blueground</option>
            <option value = 'Beautiful - Art Filled - Sun Filled - Luxurious'>Beautiful - Art Filled - Sun Filled - Luxurious</option>
            <option value = 'Full Floor Loft Style Apt/Noho/Bond'>Full Floor Loft Style Apt/Noho/Bond</option>
            <option value = 'Private room. Full size bed. 3rd floor.'>Cooper Sq	Private room. Full size bed. 3rd floor. Cooper Sq</option>
            <option value = 'Historic New York Home'>Historic New York Home</option>
            <option value = '1-bedroom APT SoHo / NoLITa'>1-bedroom APT SoHo / NoLITa</option>
            <option value = 'Noho East Vill Lux Bldg w/Gym,Pool '>Noho East Vill Lux Bldg w/Gym,Pool </option>
            <option value = 'Charming Soho One Bedroom + Loft'>Charming Soho One Bedroom + Loft</option>
            <option value = 'Soho/Nolita historic and central downtown location'>Soho/Nolita historic and central downtown location</option>
            <option value = 'Original NoHo Loft full of Charm & Character'>Original NoHo Loft full of Charm & Character</option>
            <option value = 'Quintessential loft location on Bond Street.'>Quintessential loft location on Bond Street.</option>
            <option value = 'Cozy Bowery Studio (6, BDFM trains)'>Cozy Bowery Studio (6, BDFM trains)</option>
            <option value = 'Quiet and cozy apartment in Greenwich Village'>Quiet and cozy apartment in Greenwich Village</option>
            <option value = 'Cozy NoHo Studio Apartment'>Cozy NoHo Studio Apartment</option>
            <option value = 'Modern Apartment in NOHO / SOHO'>Modern Apartment in NOHO / SOHO</option>
            <option value = 'NOHO/EAST VILLAGE, PRIVATE 1/2 BATH'>NOHO/EAST VILLAGE, PRIVATE 1/2 BATH</option>
            <option value = 'Brand new luxurious apartment in SoHo!'>Brand new luxurious apartment in SoHo!</option>
            <option value = 'Classic Manhattan Loft Apartment'>Classic Manhattan Loft Apartment</option>
            <option value = 'Large 2 bedroom downtown Loft Apartment'>Large 2 bedroom downtown Loft Apartment</option>
            <option value = 'Tasteful NOHO 1 bedroom'>Tasteful NOHO 1 bedroom</option>
            <option value = 'Prime SOHO Luxury penthouse Loft'>Prime SOHO Luxury penthouse Loft</option>
            <option value = 'Bond Street 2 bedroom 2 bath great Noho location'>Bond Street 2 bedroom 2 bath great Noho location</option>
            <option value = 'Upscale living on Lafayette St. NoHO'>Upscale living on Lafayette St. NoHO</option>
            <option value = 'Downtown 2500 Sq Ft  Loft.'>Downtown 2500 Sq Ft  Loft.</option>
            <option value = 'Mid Nolita Soho Lit. Italy Village'>Mid Nolita Soho Lit. Italy Village</option>
            <option value = 'Beautiful home in the heart of Manhattan.'>Beautiful home in the heart of Manhattan.</option>
            <option value = 'Huge 2 Bed Loft Apt in Chic Downtown'>Huge 2 Bed Loft Apt in Chic Downtown</option>
            <option value = 'Large, Private 1BR in Noho/Nolita/Soho'>Large, Private 1BR in Noho/Nolita/Soho</option>
            <option value = 'Bright & Quiet Minutes from Washington Square Park'>Bright & Quiet Minutes from Washington Square Park</option>
            <option value = 'Modern Studio Loft in Downtown NYC'>Modern Studio Loft in Downtown NYC</option>
            <option value = 'Elite Penthouse'>Elite Penthouse</option>
            <option value = 'Beautiful Elite Penthouse'>Beautiful Elite Penthouse</option>
            <option value = 'Manhattan Penthouse'>Manhattan Penthouse</option>
            <option value = 'Mesmerized Penthouse'>Mesmerized Penthouse</option>
            <option value = '1 brd apartment for Easter week in NOHO'>1 brd apartment for Easter week in NOHO</option>
            <option value = 'Charming and Bright 1 bdr apartment in Noho'>Charming and Bright 1 bdr apartment in Noho</option>
            <option value = 'Get Inspired in Soho | 1 Bedroom'>Get Inspired in Soho | 1 Bedroom</option>
            <option value = 'Perfect Sunny 1BR in the Treetops'>Perfect Sunny 1BR in the Treetops</option>
            <option value = 'NOHO ART LOFT ON LAFAYETTE.'>BEST LOCATION IN NYC	NOHO ART LOFT ON LAFAYETTE. BEST LOCATION IN NYC</option>
            <option value = 'Modern luxury apartment in the heart of Noho'>Modern luxury apartment in the heart of Noho</option>
            <option value = 'Sun Filled 18ft Ceiling Duplex Noho/East Village'>Sun Filled 18ft Ceiling Duplex Noho/East Village</option>
            <option value = 'Stylish Apt in the Heart of Greenwich Village'>Stylish Apt in the Heart of Greenwich Village</option>
            <option value = 'Prime Modern 2 BR East Village Apt nearby Subway'>Prime Modern 2 BR East Village Apt nearby Subway</option>
            <option value = 'HUGE 2bdrm LOFT in NOHO/East Vill!'>HUGE 2bdrm LOFT in NOHO/East Vill!</option>
            <option value = 'Separate 2 Bedroom Apartment located inside Loft.'>Separate 2 Bedroom Apartment located inside Loft.</option>
            <option value = 'Prime E. Village at St. Marks Place'>Prime E. Village at St. Marks Place</option>
            <option value = 'Luxury Loft Noho New York City'>Luxury Loft Noho New York City</option>
            <option value = 'Cozy Studio in the Heart of Soho'>Cozy Studio in the Heart of Soho</option>
            <option value = 'Unique Penthouse'>Unique Penthouse</option>
            <option value = 'Artist Penthouse'>Artist Penthouse</option>
            <option value = 'Your New York Penthouse'>Your New York Penthouse</option>
            <option value = 'SoHo LOFT #2  Broadway Av. - Amazing Location!'>SoHo LOFT #2  Broadway Av. - Amazing Location!</option>
            <option value = 'The Industrial LOFT #1 NoHo. - Great Location!'>The Industrial LOFT #1 NoHo. - Great Location!</option>
            <option value = 'Beautiful 1205 ft classic NoHo Loft'>Beautiful 1205 ft classic NoHo Loft</option>
            <option value = 'Noho Broadway 2 Bedroom Loft'>Noho Broadway 2 Bedroom Loft</option>
            <option value = 'New York City  Apartment'>New York City  Apartment</option>
            <option value = 'Entire 1 Bedroom apartment'>Entire 1 Bedroom apartment</option>
            <option value = 'Large Alcove Studio in Prime Noho Building'>Large Alcove Studio in Prime Noho Building</option>
            <option value = '1 Bedroom in prime Flatiron'>1 Bedroom in prime Flatiron</option>
            <option value = 'Sunlit Noho Loft'>Sunlit Noho Loft</option>
            <option value = 'Artsy Bowery Loft'>Artsy Bowery Loft</option>
            <option value = 'Urban Design Sanctuary'>Urban Design Sanctuary</option>
            <option value = 'Perfect 1 Bedroom in Nolita'>Perfect 1 Bedroom in Nolita</option>
            <option value = 'Large Stylish 1.5 BR Noho/Nolita'>Large Stylish 1.5 BR Noho/Nolita</option>
            <option value = 'Gorgeous Zen Home at Crossroads of Nolita and Soho'>Gorgeous Zen Home at Crossroads of Nolita and Soho</option>
            <option value = 'Soho Loft. Authentic and Eccentric! 2 Bedroom.'>Soho Loft. Authentic and Eccentric! 2 Bedroom.</option>
            <option value = 'Jen Apt'>Jen Apt</option>
            <option value = 'AMAZING TWO BEDROOMS IN BEST PART OF SoHo!!'>AMAZING TWO BEDROOMS IN BEST PART OF SoHo!!</option>
            <option value = 'TURQUOISE: One-Bedroom Apt. in Soho'>TURQUOISE: One-Bedroom Apt. in Soho</option>
            <option value = 'Beautiful SoHo Loft'>Beautiful SoHo Loft</option>
            <option value = 'Spacious 2BR in the heart of Soho'>Spacious 2BR in the heart of Soho</option>
            <option value = '2000 SQ FT Spacious Artist Loft in SOHO'>2000 SQ FT Spacious Artist Loft in SOHO</option>
            <option value = 'Beautiful Bright Apartment Soho'>Beautiful Bright Apartment Soho</option>
            <option value = 'Bright two bedroom apartment in Soho'>Bright two bedroom apartment in Soho</option>
            <option value = 'SoHo SoHo SoHo'>SoHo SoHo SoHo</option>
            <option value = 'Amazing Soho Apartments with Private Backyard'>Amazing Soho Apartments with Private Backyard</option>
            <option value = 'Soho Loft III by (Hidden by Airbnb)'>Soho Loft III by (Hidden by Airbnb)</option>
            <option value = 'Luxury apartment 2 min to times square'>Luxury apartment 2 min to times square</option>
            <option value = 'SOHO Sanctuary Privately Owned'>SOHO Sanctuary Privately Owned</option>
            <option value = 'Amazing Soho Apartment'>Amazing Soho Apartment</option>
            <option value = 'Charming Soho large 1 bedroom apartment style loft'>Charming Soho large 1 bedroom apartment style loft</option>
            <option value = 'Great Soho Apartment " Renovated & Clean "'>Great Soho Apartment " Renovated & Clean "</option>
            <option value = 'Stunning SoHo 1400sqft LOFT/DUPLEX on Best Street'>Stunning SoHo 1400sqft LOFT/DUPLEX on Best Street</option>
            <option value = 'Tribeca Treasure'>Tribeca Treasure</option>
            <option value = 'The Paris - Duplex Penthouse with Roof Deck'>The Paris - Duplex Penthouse with Roof Deck</option>
            <option value = 'Minimalist Loft  Luxury in Soho'>Minimalist Loft  Luxury in Soho</option>

        </select>
        <br/><br/>
    </div>

    <div id="Don't Have a certain choice" style="display:none" class="info">
        How far do you prefer to live from Columbia University (in km)?
        <br/><br/>
        <input type="button" value="-" id="minusDistance"/>
        <input id="num" name="numDistance" value="5"/>
        <input type="button" value="+" id="addDistance"/>
        <br/><br/>

        Which room type(s) do you prefer?
        <br/><br/>
        <input type="checkbox" name="Room Type" value="Private room"/>Private room
        <input type="checkbox" name="Room Type" value="Entire home/apt"/>Entire home/apt
        <input type="checkbox" name="Room Type" value="Shared room"/>Shared room
        <br/><br/>


        What's your budget?
        <br/><br/>
        <input type="button" value="-" id="minusBudget"/>
        <input id="num1" name="numBudget" value="2000"/>
        <input type="button" value="+" id="addBudget"/>
        <br/><br/>
    </div>



    <div class="info">
    Do you prefer to have (a) roommate(s)?
    <input type="radio" name="Roommate" value="Yes" id="roommateYes"/> Yes
    <input type="radio" name="Roommate" value="No"  id="roommateNo" /> No
    <br/><br/>
    </div>

    <div id="Need roommates" style="display:none" class="info">
        <div class="info">
        How many roommates do you prefer?
        <input type="checkbox" name="Number" value="1"/>One
        <input type="checkbox" name="Number" value="2"/>Two
        <input type="checkbox" name="Number" value="3"/>Three
        </div>
        <br/><br/>

        <div class="info">
        Do you prefer your roommate(s) has the same major as you?
        <br/><br/>
        <input type="radio" name="Same Major" value="Yes" /> Yes, I must live with students with the same major as I
        <br/><br/>
        <input type="radio" name="Same Major" value="No" /> No, I'm okay to live with students with different majors
        <br/><br/>
        </div>

        <div class="info">
        Do you prefer your roommate(s) has the same gender as you?
        <br/><br/>
        <input type="radio" name="Same Gender" value="Yes" /> Yes, I must live with students with the same gender as I
        <br/><br/>
        <input type="radio" name="Same Gender" value="No" /> No, I'm okay to live with students with different genders
        <br/><br/>
        </div>

    </div>

    <input type="submit" value="Submit">
</form>

</body>
</html>